*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #E8E8E8;
  font-family: 'SF Pro Text', sans-sans-serif;
  font-size: 14px;
  background-color: #F4F4F6;
}

.container {
  margin: auto;
  width: 375px;
}

nav {
  margin: 0 auto;
  padding: 0;
  position: fixed;
}

.map  {
  padding-top: 30%
}

.navbar  {
  background-color: #006DD2;
}

.status {
  padding: 0;
  margin: 0;
  display: block;
  float: left;
  height: 20px;
}

.arrow-left {
  font-size: .7em;
  display: inline-block;
  line-height: 1.8em;
  padding: 4%;
}

.stop {
  padding-left: 20%;
  font-size: 1.2em;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  display: inline;
  line-height: 1.6em;
}

.clock  {
  padding: 3.2% 10% 0 0 ;
  display: inline-block;
  float: right;
  width: 24px;
  height: 23px;
  line-height: 1.6em;
}

.search {
  background-color: #004484;
  width: 100%;
  padding: 1.4% 4%
}

.searchbox  {
  display: block;
  margin: 0;
  width: 100%;
  height: 18px;
  background-color: #ffffff;
  border-radius: 5px;
  padding-bottom: 9%;
}

.magnify  {
  width: 19px;
  display: inline-block;
  margin-top: 1%;
  margin-left: 2%;
  vertical-align: bottom;
}

.searchroute  {
  color: #8A8A8F;
  font-size: 1.1em;
  display: inline-block;
  margin-left: 1%;
  padding-top: 2.3%;
  vertical-align: top;
}

.direction  {
  border-top: 2px solid #DADADA;
  border-bottom: 2px solid #DADADA;
  color: #3C4A55;
  margin: -.5% 0 0;
  background-color: #EFEFEF;
}

.direction-text  {
  color: #8B8D8F;
  padding: 1% 2%;
  text-transform: uppercase;
}

.businfo  {
  padding-bottom: 2%;
  border-bottom: 2px solid #DADADA;
  background-color: #ffffff;
}

.line  {
  font-size: 2.5em;
  font-weight: bolder;
  color: #006DD2;
  display: inline-block;
  padding: 4% 2% 2%;
  width: 20%;
}

.destination  {
  font-size: 1.2em;
  color: #3C4A55;
  font-weight: bolder;
  display:inline-block;
  vertical-align: top;
  margin-top: 6%;
  margin-left: 3%;
  width: 50%;
  height: 15%;
}

.frequency  {
  font-size: 1.5em;
  color: #006DD2;
  font-weight: bolder;
  display:inline-block;
  vertical-align: top;
  width: 11%;
  padding-top: 4.5%;
  padding-left: 7%;
}

.min  {
  font-size: .65em;
  color: #006DD2;
  vertical-align: top;
  font-weight: lighter;
  display:inline-block;
  padding-bottom: -5%;
}
